__pycache__/
*.pyc
*.log
.env
venv/
env/
node_modules/

logs/
config/pids/

sites/*/private/
sites/*/public/files/
sites/*/logs/
sites/*/locks/
sites/*/indexes/
sites/*/site_config.json
sites/assets/
